body	
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;	
	color: #3c3c3c;
}

#info
{
	top: 15%;
	position: absolute;
	margin-left: 35%;
	margin-right: 3%;
	width: 30%;
	padding:10px;
	
	
}
#name
{
	font-size: 1.2em;
	color: black;
	font-weight: bold;
	margin: 0px;
	padding: 3px 3px 10px 3px;
}

p
{
	padding: 3px 3px 3px 3px;
	margin: 0px;
}
#replink
{
	padding-top: 10px;
}
a
{
	text-decoration: none;
	color: black;
	padding: 3px;
	margin: 0px;
	display: block;
}
a:hover
{
	color: #4c4c4c
}